.cover__subtitle {
  max-width: 40%;
  margin: 32px 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
}

@media screen and (max-width: 768px){
  .cover__subtitle {
    max-width: 50%;
  }
}

@media screen and (max-width: 767px){
  .cover__subtitle {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 1.14;
    max-width: 87%;
  }
}

@media screen and (max-width: 300px){
  .cover__subtitle {
    margin: 16px 0 0;
    font-size: 8px;
    line-height: 1.14;
    overflow: hidden;
  }
}