.cover__title {
  width: 55%;
  margin: 245px 0 0;
  padding: 0;
  font-family: 'Inter-Black', Arial, sans-serif;
  font-size: 72px;
  line-height: 1.1;
  color: white;
  text-align: center;
  position: relative;
  /*z-index: 5;*/
}

@media screen and (max-width: 1024px){
  .cover__title {
    width: 70%;
    margin: 195px 0 0;
  }
}

@media screen and (max-width: 768px){
  .cover__title {
    margin: 115px 0 0;
  }
}

@media screen and (max-width: 767px){
  .cover__title {
    width: 75%;
    margin: 33px 0 0;
    font-size: 32px;
    line-height: 1;
  }
}

@media screen and (max-width: 300px){
  .cover__title {
    margin: 33px 0 0;
    font-size: 15px;
    line-height: 1;
    overflow: hidden;
  }
}